
# Virtual Environment
.venv/

# Other
db.txt

# Secrets
secret.py
secrets.json
*.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Other
.vscode/