<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "{{ url_for('static', filename='styles/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Nickel's Spotify Project!</title>
</head>
<body>
    <div class="column">
        <div class="item">
            <h1 class="header">NickelBox</h1>
        </div>
        <div class="item">
            <div class="container">
                <p>Discover your Most Played Songs, Artists, and Genres!</p>
                <br>
                <p>WebApp created by Nicolas Ahn</p>
            </div>
        </div>
    </div>



    <div class="center">
        <a href="{{ url_for('auth') }}"><button>Start</button></a>
    </div>
</body>
</html>
