<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "{{ url_for('static', filename='styles/main.css') }}">
    <title>Nickel's Spotify Project!</title>
</head>
<body>
  <h1 class="header">Hello, {{user}}!</h1>
  <div class="column">
    <div class="item">
      <img src={{pfp_url}} class="center" id="icon">
    </div>
  </div>

  <h2>Your Top Songs</h2>
  <div class="song_table">
    <div class="flexbox-col">
      <div class="flexbox-row" id="rank">
        <h3>01</h3>
      </div>
      <div class="flexbox-row">
        <img src="https://i.scdn.co/image/ab67616d0000485153f6fa0d2589c6a7174f4b81">
      </div>
      <div class="flexbox-row">
        <span>Gimme Love</span>
        <br>
        <span>Joji</span>
      </div>
    </div>

    <div class="flexbox-col">
      <div class="flexbox-row">
        <h3>02</h3>
      </div>
      <div class="flexbox-row">
        <img src="https://i.scdn.co/image/ab67616d0000485153f6fa0d2589c6a7174f4b81">
      </div>
      <div class="flexbox-row">
        <span>Joji - Upgrade</span>
      </div>
    </div>
  </div>


</body>

</html>