<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href= "{{ url_for('static', filename='styles/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Nickel's Spotify Project!</title>
</head>
<body>
  <div class="column">
    <div class="item">
      <img src={{pfp_url}} class="center" id="icon">
    </div>
    <div class="item">
      <h1 class="header">Hello, {{user}}!</h1>
    </div>
  </div>

  <!-- <h1>Your Top Songs</h1>
  <h2>Past 4 Weeks:</h2> -->

  <div class="music-box">
  {% for song in top_songs %}
    <div class="music-info">
      <div class="music-rank"> {{ loop.index }} </div>
      <div class="music-img">
        <img src={{song.image}} alt="song">
      </div>
      <div class="music-name">
        <div class="name">{{ song.name }}</div>
        <div class="artist">{{ song.artist }}</div>
      </div>
    </div>
  {% endfor %}
  </div>

</body>

</html>