:root {
    --bg: #EEE;
    --black: #191414;
    --darkgreen: #1db954;
    --lightgreen: #1ed760;

}

body {
    background-color: var(--bg);
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3, p{
    margin:0;
    padding:0;
    text-align: center;
    font-weight: 400;
}

p {
    text-align: center;
}

.header {
    text-align: center;
    /* margin: 1em; */
    font-weight: 400;
    font-size: 3em;
}

a {
    text-decoration: None;
}

.container {
    display: grid;
    /* grid-template-columns: 1fr 3fr; */
}

button {
    text-decoration: None;
    background-color: var(--darkgreen);

    color: var(--black);
    border: 2px solid white;
    border-radius: 20px;
    font-size: 2em;
    padding: 4px 30px;
}

button:hover {
    background-color: var(--lightgreen);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#icon {
    max-width: 200px;
    border-radius: 50%;
}

.item {
    margin: 1em;
}


.song_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* border: 2px solid lightcoral; */
}

.flexbox-col {
    display:flex;
    flex:1;
    flex-basis: max-content;
    flex-direction: row;

    /* Center col items*/
    align-items: center; 
    justify-content: center;
    width: 70%;

    /* border: 2px solid red; */
}

.flexbox-row > #rank{
    width:100px;
    text-align: center;

    /* border: 2px solid greenyellow; */
}


.flexbox-row {
    /* border: 2px solid blue; */
    /* min-width: 150px; */
    margin: 10px;
}