:root {
    --bg: #EEE;
    --black: #191414;
    --darkgreen: #1db954;
    --lightgreen: #1ed760;

}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}


h1, h2, h3, p{
    margin:0;
    padding:0;
    text-align: center;
    font-weight: 400;
}

p {
    text-align: center;
}

.header {
    text-align: center;
    /* margin: 1em; */
    font-weight: 400;
    font-size: 3em;
}

a {
    text-decoration: None;
}

.container {
    display: grid;
    /* grid-template-columns: 1fr 3fr; */
}

button {
    text-decoration: None;
    background-color: var(--darkgreen);

    color: var(--black);
    border: 2px solid white;
    border-radius: 20px;
    font-size: 2em;
    padding: 4px 30px;
}

button:hover {
    background-color: var(--lightgreen);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#icon {
    width: 10%;
    max-width: 200px;
    min-width: 100px;
    border-radius: 50%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    margin: 1em;
}


.music-box {
    width: 100%;
    height: 100%;
    /* overflow: scroll; */
    /* overflow-x: hidden; */
}
/* 
.music-box::-webkit-scrollbar {
    width: 0px;
    background: transparent;
} */

.music-rank {
    font-size: 1.5em;
    text-align: center;
    padding: 35px 1em;
}

.music-info {
    margin: auto;
    width: 500px;
    height: 100px;
    display: flex;
    /* background-color: white; */

}

.music-info:hover{
    background-color: var(--bg);
    transition: 0.5s;
}

.music-img {
    width: 100px;
    height: 100px;
}

.music-box img {
    margin: 10px 10px;
    width: 80px;
    height: 80px;
}

.music-name {
    height: 50px;
    width: 300px;
    margin: 10px 10px;
    padding: 0 5px;
}

.name {
    margin-top: 7px;
    font-size: 1.5em;
    font-weight: normal;
    letter-spacing: 0.5px;
}

.artist {
    font-size: 1.0em;
    line-height: 1px;
    letter-spacing: 0.5px;
    margin-top: 10px;
}
